[submodule ".config/oh-my-zsh/plugins/zsh-syntax-highlighting"]
	path = dot-config/oh-my-zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".config/oh-my-zsh/plugins/zsh-autosuggestions"]
	path = dot-config/oh-my-zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".config/oh-my-zsh/plugins/zsh-completions"]
	path = dot-config/oh-my-zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule ".config/oh-my-zsh/plugins/fzf-tab"]
	path = dot-config/oh-my-zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
[submodule ".local/share/fzf-git.sh"]
	path = dot-local/share/fzf-git.sh
	url = https://github.com/junegunn/fzf-git.sh.git
